{% extends 'base.html' %}
{% block content %}
<h2>상품 등록</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        <label>제목 :</label><br>
        <input type="text" name="title" required>
    </p>

    <p>
        <label>가격(원):</label><br>
        <input type="number" name="price" min="0" required>
    </p>

    <p>
    <label>설명:</label><br>
    <textarea name="description" rows="5" required></textarea>
    </p>


    <p>
        <label>사진:</label><br>
        <input type="file" name="image">
    </p>


    <button type="submit">등록하기</button>
</form>

<p>
    <a href="{% url 'market:item_list' %}">← 목록으로 돌아가기</a>
</p>
{% endblock %}